html {
  background-color: #03191e;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Helvetica Neue';
  color: #d9ddde;
  background-color: #03191e;
}

button {
  border: none;
  background: none;
  outline: none;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

a {
  color: #a8763e;
}

a:hover {
  color: #d9ddde;
}

p {
  max-width: 80ch;
}

h1 {
  color: #a8763e;
  margin: 0px 0px 1.666rem;
  padding: 0px;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  color: #a8763e;
  margin: 0px 0px 1.666rem;
  padding: 0px;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-rendering: optimizelegibility;
  font-size: 1.51572rem;
  line-height: 1.1;
}

h3 {
  color: #a8763e;
  text-transform: uppercase;
  font-family: 'Montserrat';
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: bolder;
}

img {
  max-width: 500px;
  display: inline;
}
